alembic
aniso8601
attrs
blinker
cffi
click
cryptography
Faker
Flask==2.2.5
Flask-JWT-Extended
flask-marshmallow
Flask-Migrate
Flask-RESTful
flask-restx
Flask-SQLAlchemy==3.0.2
greenlet
gunicorn
importlib-metadata
importlib-resources
install
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
jwt
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
packaging
psycopg2-binary
pycparser
PyJWT
python-dateutil
python-dotenv
pytz
referencing
rpds-py
six
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
Werkzeug
zipp
